<div class="main-body">

  <%=
    render 'layouts/election-heading', locals: {
      election_name: @election.name
    }
  %>


  <% # the actual voting page %>

  <div class="bg-white shadow-lg rounded-lg">
S
    <div class="">
      <h3 class="text-xl text-gray-600 font-medium pt-4 pl-3"><%= @question.question_name %></h3>
      <p class="text-sm text-gray-500 pl-4"><%= @question.question_description %></p>

      <ul class="pl-5 py-4">
        <% @question.options.each do |option| %>
          <li class="pt-1">
            <div class="form-check">
              <%= form_with(url: vote_path(e_id: @election.id), method: "patch") do %>
                <input type="number" name="opt_id" value="<%= option.id %>" hidden>
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1"
                  onclick="this.form.submit()"
                >
                <label class="text-base text-black pl-3" for="flexRadioDefault1">
                  <%= option.name %>
                </label>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

  </div>


</div>


