<div class="main-body">

  <div class="bg-gray-200 rounded-full shadow-lg flex justify-between mt-4 ">
    <h3 class="text-xl font-semibold p-3 pl-5"><%= election.name %></h3>
    <%= form_with(url: launch_election_path(id: election.id), method: "PATCH", class: "bg-green-600 rounded-r-full") do %>
      <button
        class="p-3 text-xl text-gray-100 tracking-widest font-black"
        onclick="this.form.submit()">Launch
      </button>
    <% end %>
  </div>


  <%= render 'layouts/question-update-form', locals:{
    submit_path: add_question_path(id: election.id),
    method: :post,
    button_text: "Add"
  } %>



  <% election.questions.each do |question| %>
    <div class="bg-gray-200 shadow-lg mt-2 rounded-lg flex justify-between mb-8">
      <div class="p-8">
        <h3 class="text-xl text-black font-extrabold"><%= question.question_name %></h3>
        <p class="text-base text-gray-500 font-light"><%= question.question_description %></p>

        <div>
          <% question.options.each do |option| %>
            <ul class="list-disc pl-8">
              <li>
                <%= option.name %>
              </li>
            </ul>
          <% end %>
        </div>
      </div>

      <div class="">
        <div class="h-full">

          <div class="inline">
            <form action="/election/<%= election.id %>/question/<%= question.id %>/edit" method="get" class="h-1/2 text-center bg-sky-500 rounded-tr-lg hover:bg-sky-900">
              <input class="pt-10 px-1 text-white" type="button" value="Update" onclick="this.form.submit()">
            </form>
          </div>

          <div class="inline">
            <%= form_with(url: "/election/#{election.id}/question/#{question.id}", method: "DELETE", class: "h-1/2 text-center bg-red-500 rounded-br-lg hover:bg-red-800") do %>
              <input class="pt-10 px-1 text-white" type="button" value="Delete " onclick="this.form.submit()">
            <% end %>
          </div>

        </div>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">

</script>