<div class="main-body">

  <div class="election-heading">
    <h3><%= election.name %></h3>
  </div>

  <% election.questions.each do |question| %>
    <div class="saved-questions">
      <div class="question-with-options">
        <h3><%= question.question_name %></h3>
        <p><%= question.question_description %></p>

        <% question.options.each do |option| %>
          <ul>
            <li>
              <p>
                <%= option.name %>
                <button class="btn btn-outline-success">
                   Votes: <%= option.total_vote_count %> / <%= total_votes %>
                </button>
              </p>
            </li>
          </ul>
        <% end %>
      </div>

    </div>
  <% end %>
</div>