<!DOCTYPE html>
<html>
<head>
  <title>OnlineVotingPlatform</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>


  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
</head>

<body>

<nav class="p-5 bg-white shadow">
  <div class="flex align-items-end justify-between w-full">

    <div class="logo">
      <a
        class="text-2xl font-monospace cursor-pointer p-1 tracking-widest font-black text-gray-500"
        title="Home"
        href="<%= root_path %>">
        OVP
      </a>
    </div>

    <div class="flex justify-end rounded-full text-white" id="navbarSupportedContent">

      <a class="border-r-12 rounded-full bg-blue-800 hover:bg-blue-300 px-4 py-1" href="<%= archived_election_path %>">Results</a>

      <%
        user_role = get_current_user_role
        current_user = get_current_user
        btn_style = "border-r-12 rounded-full px-4 py-1 mx-1"
      %>

      <% if user_role == 'admin' %>
        <a href="<%= admin_dashboard_path %>">
          <button class="<%= btn_style %> bg-green-600 hover:bg-green-900">Admin Dashboard</button>
        </a>
      <% elsif user_role == 'voter' %>
        <button class="<%= btn_style %> bg-green-600">
          Voter ID :
          <%= get_current_user.voter_id.to_s.upcase %>
        </button>
      <% else %>
        <a href="<%= admin_login_path %>">
          <button class="<%= btn_style %> bg-green-600">Admin Area</button>
        </a>
      <% end %>
      <% if current_user %>
        <%= form_with url: logout_path, method: :delete do %>
          <button class="<%= btn_style %> bg-red-800 hover:bg-red-300" onclick="this.form.submit()" style="margin: 0 5px;">Logout</button>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>

<%
  # 1 -> message
  # 2 -> error
  flash_text = ""
  flash_type = if flash[:message]
                 flash_text = flash[:message]
                 1
               elsif flash[:error]
                 flash_text = flash[:error]
                 2
               else
                 flash_text = "Just Checking the message!"
                 0
               end

%>
<!--<div class="<%#= flash[:message] ? "flash-message " : "" %> <%#= flash[:error] ? "flash-error" : "" %>">-->
<!--  <p>-->
    <%#= flash[:error] ? flash[:error] : "" %>
    <%#= flash[:message] ? flash[:message] : "" %>
<!--  </p>-->
<!--</div>-->

<div style="position: relative">

  <%= yield %>
  <% unless flash_type == 0 %>
    <div class="<%= flash_type == 1 ? "bg-green-500 " : "" %> <%= flash_type == 2 ? "bg-red-500 " : "" %> inner-container-flash-message  rounded-l-full shadow-lg ring-4 ring-gray-400 ring-opacity-50">
      <p class="text-base text-white w-full text-center py-8 px-2">
        <%= flash_text %>
      </p>
    </div>
  <% end %>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>
